@font-face {
     font-family: 'montserrat-regular';
     src: url('../assets/fonts/montserrat-regular-webfont.eot');
     src: url('../assets/fonts/montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
          url('../assets/fonts/montserrat-regular-webfont.woff2') format('woff2'),
          url('../assets/fonts/montserrat-regular-webfont.woff') format('woff'),
          url('../assets/fonts/montserrat-regular-webfont.ttf') format('truetype');
     font-weight: normal;
     font-style: normal;
}